.content-table{
    padding: 0 12px;
}

.card{
    border: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
.table{
    margin-top: 10px;
    background-color: #fff;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    vertical-align: middle!important;
    border-bottom-width: 1px!important;
    background-color: #fff;
    font-weight: 600;
    /* white-space: nowrap; */
    padding: 10px;
}

.btn{
    margin-right: 6px;
    
}

.new-order{
    margin: 16px 0;
}

.new-order .btn:first-child{
margin-right: 6px;
}


.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.invalid-feedback{
    color: red;
}

.card-head{
        /* flex-direction: column; */
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        border-top-width: 3px;
        border-color: #cfdbe2;
        margin: 1.25rem 0;
        padding: 7px;
        text-align: left;
        width: 100%;
        float: left;
        margin-bottom: 0;
        position: sticky;
    top: 67px;
    z-index: 1;

}

.buttons-page{
    float: right; 
    text-align: right;
}
.header-page{
    margin: 0;
    display: inline;
    text-align: left;
    font-size: 1.4rem;
}

.table tbody:nth-of-type(odd) tr {
    background-color: rgba(0,0,0,.05);
}
/* 
.loader-backdrop{
    background: rgba(54, 37, 32, 0.3);
    position: fixed;
    top: 0;
    z-index: 111111111;
    width: 100%;
    height: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff7900;

  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.in-ine{
    display: inline-flex;
    text-align: right;
}

.in-ine input {
    width: 200px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .5;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-dialog {
    width: 90%;
    margin: 30px auto;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.in{
    display: block;
}

.load-more{
    border-top: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    background: #fff;
}

.date-container{
    padding: 14px;
    display: flex;
    height: 64px;
    float: left;
    width: 100%;
    text-align: r;
    flex-direction: column;
    background: #d5d5d5;
    border: 2px solid #d7d7d7;
    border-width: 0 0 2px 0;
}

.date-container .form-group{
    margin-right: 12px !important;
}

.order-count{
    display: inline;
    font-size: 20px;
    color: #f74f00;
    /* text-decoration: underline; */
    margin-right: 6px;
}

.location-name{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 42px;
    background: #efefef;
}

.no-orders{
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 600;
}